body {
  font-family: 'Lato', sans-serif;
  color: #4D5572;
  text-align: center;
  background-color: #F6F8FC;
}

h2 {
  color: #7ECE90;
}

.card-white {
  background-color: white;
  margin-top: 20px;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgb(200, 200, 200);
}

#call-to-action {
  background-color: #6067DC;
  border-color: #6067DC;
}

#avatar {
  width: 300px;
  height: 300px;
}

.icon-social {
  color: rgb(200, 200, 200);
  font-size: 62px;
  opacity: 0.8;
  transition: opacity ease 0.25s;
  transition: font-size ease 0.25s;
}

.icon-social:hover {
  color: rgb(200, 200, 200);
  opacity: 1;
}

@media (max-width: 768px) {
  #avatar {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 576px) {
  #avatar {
    width: 150px;
    height: 150px;
  }
}



